.choosed{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 35px;
    grid-row-gap: 35px;
    width: 50px;
    padding-left: 50px;
}


.Alert{

    padding-top: 250px;
    left: 50%;
    transform: translate(-50%, 0);
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
}

.team-grid{
    
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
    padding-left: 90px;
    padding-bottom: 40px;
    padding-top: 20px;
    width: 60px;
}
.botones{
    display: flex;
    column-gap: 30px;
    justify-content: center;
}
.botones button{
    height: 50px;
    width: 120px;
    font-size: 20px;
}

